In [10]:
import pandas as pd

In [17]:
# This function outputs a data frame from a csv file from https://apps.fas.usda.gov/
# It expects data from four quarters from 2015 to 2020
def fas_csv_to_pd_df(file_name):
    input_df = pd.read_csv(file_name)
    out_df = pd.DataFrame(columns = ['Year','Quarter','Value','Qty'])
    year_list = []
    quarter_list=[]
    for j in range(2015,2020):
        for i in range(1,5):
            quarter_list.append(i)
            year_list.append(j)

    out_df['Year'] = year_list
    out_df['Quarter'] = quarter_list

    value_list = []
    quantity_list = []
    for i in range(0,5):
        for j in range(6,14,2):   
            value_list.append(input_df.iloc[i,j])
            quantity_list.append(input_df.iloc[i,j+1])
    out_df['Value'] = value_list
    out_df['Qty'] = quantity_list
    out_df.columns = map(str.lower, out_df.columns)
    return out_df

In [18]:
# Rearrange data for corn
corn_df = fas_csv_to_pd_df('Resources/Corn.csv')
corn_df
# Rearrange data for limes

# Rearrange data from mangos

# Rearrange data for sorghum

    year  quarter  value        qty
0   2015        1  6,349  13,763.50
1   2015        2  4,411   9,857.50
2   2015        3  4,285   9,867.30
3   2015        4  3,251   6,372.10
4   2016        1  3,153   8,294.10
5   2016        2  2,024   5,380.60
6   2016        3  4,164  10,915.90
7   2016        4  4,226   9,379.20
8   2017        1  3,536  10,273.60
9   2017        2  3,285   8,529.40
10  2017        3  2,854   7,833.10
11  2017        4  5,064  11,057.20
12  2018        1  5,528  10,789.80
13  2018        2  4,463   9,028.70
14  2018        3  3,477   7,835.00
15  2018        4  4,792  11,216.80
16  2019        1  4,471   9,694.80
17  2019        2  3,032   6,440.50
18  2019        3  3,330   7,898.50
19  2019        4  5,840  13,964.10